@import "src/styles/colors.scss";
.base {
  position: relative;
  max-height: 200px;
  padding: 0 15px ;
  &:hover{
    z-index: 100;
  }
  .task{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px 15px;
    position: relative;
    background-color: #fafafa;
    cursor: pointer;
    min-height: 60px;
    box-shadow: 0 1px 7px 0px dimgray;
    transition: all 0.5s ease;
    padding-left: 35px;
    height: auto;

    h2{
      margin: 0px;
      color: $primary-color;
      margin-bottom: 5px;
      font-size: 16px;
      width: 60%;
      overflow: hidden;

    }
    .date{
      position: absolute;
      right: 15px;
      bottom: 15px;
      color: #aaa;
      margin-bottom: 0;
      top: 32px;
      i{
        margin-right: 5px;
        color: $primary-color;
      }
      .overdue{
        color: $red-color ;
        font-size: 13px;
      }
    }
    .project{
      color: $project-color;
      margin-bottom: 0px;
      margin-top: 5px;
      i{
        margin-right: 5px;
      }
    }

    .commentIcon{
      z-index: 20;
      position: absolute;
      right: 90px;
      font-size: 18px;
      top: 10px;
      transition: all 0.2s linear;
    }

    .editIcon{
      z-index: 20;
      position: absolute;
      right: 40px;
      font-size: 18px;
      top: 10px;
      transition: all 0.2s linear;
    }

    .deleteIcon{
      z-index: 20;
      position: absolute;
      right: 15px;
      font-size: 18px;
      top: 10px;
      transition: all 0.2s linear;
    }

    .finishTask{
      z-index: 20;
      border-radius: 100%;
      border: 2px solid $primary-color;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 10px;
      left: 8px;
      i{
        margin-top: 3px;
        margin-left: 2px!important;
        position: absolute;
        font-size: 10px;
        opacity: 0;
        transition: opacity 0.2s linear!important;
      }
      &:hover{
        i{
          opacity: 1;
        }
      }
    }
    .restoreTask{
      z-index: 20;
      border-radius: 100%;
      border: 2px solid $primary-color;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 10px;
      left: 10px;
      i{
        color: $primary-color;
        margin-top: 3px;
        margin-left: 2px!important;
        position: absolute;
        font-size: 10px;
        opacity: 1;
        transition: opacity 0.2s linear!important;
      }
      &:hover{
        i{
          opacity: 0;
        }
      }
    }

    &:hover{
      z-index: 10;
      background-color: $primary-color;
      border-color: $primary-color;
      box-shadow: 0px 0px 10px 0px #555;
      transition: all 0.3s ease;
      h2{
        color: white;
        transition: all 0.3s ease;
      }
      i, .date, .project{
        color: #eee;
        transition: all 0.3s ease;
      }
      i:hover{
        color: #4d4d4d;
      }
      .finishTask{
        border-color: white;
        transition: all 0.3s ease;
        i{
          color: white;
          transition: color 0.3s;
        }
      }
      .restoreTask{
        border-color: white;
        transition: all 0.3s ease;
        i{
          color: white;
          transition: color 0.3s;
        }
      }
      .overdue{
        &:hover{
          color: $red-color ;
        }
        font-size: 13px;
      }
      .dots{
        color: white;
        transition: color 0.3s;
      }
    }
    @media screen and (max-width: 500px){
      .date{
        position: relative;
        padding-bottom: 0;
        left: 0;
        right: 0;
        top: 5px;
        display: inline;
      }
      .project {
        float: inherit;
        position: initial;
        margin-top: 5px;
        margin-bottom: 0;
      }
    }
  }
}

.modal{
  text-align: center;
  width: 500px;
  max-width: 100%;

  i{
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  h1{
    margin-top: 50px;
  }
  p{
    margin: 30px;
    font-size: 18px;
  }
  .confirm {
    background-color: #ea0000;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    &:hover {
      box-shadow: 0 0 5px 0px #ea0000;
      transition: all 0.2s ease;
    }
  }

  .share{
    z-index: 20;

    min-width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .cancel {
    width: 100px;
    height: 30px;
  }

  .cancelRed{
    background-color: $red-color;
    width: 100px;
    height: 30px;
    &:hover{
      box-shadow: 0 0 5px 0px #ea0000;
      transition: all 0.2s ease;
    }
  }
}

