@import "src/styles/colors.scss";
.base {
  width: 100%;
  border: 1px solid $secondary-color;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  background-color: #fafafa;
  cursor: pointer;
  min-height: 70px;
  &:hover{
    background-color: #eee;
    box-shadow: 0 0 1 px 0px $primary-color;
  }
  h2{
    margin: 0px;
    font-size: 20px;
    color: $primary-color;
  }
  .description{
    margin-bottom:0;
    word-wrap: break-word;
    width: 75%;
    margin-top: 5px;
  }
  .date{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #aaa;
  }
  .project{
    position: absolute;
    right: 15px;
    top: 36px;
    color: $secondary-color;
    i{
      margin-right: 5px;
    }
  }
  @media screen and (max-width: 500px){
    .description{
      width: 100%;
    }
    .date{
      position: relative;
      padding-bottom: 0;
      top: 5px;
      left: 0;
      right: 0;
      display: inline;
    }
    .project {
      float: right;
      position: initial;
      margin-top: 5px;
    }
  }
}

