@import "src/styles/colors.scss";

.addButton{
  width: 115px;
  min-height: 35px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  @media screen and (max-width:500px) {
    margin-top: 30px;
  }
}

.prevButton{
  width: 115px;
  height: 35px;
  background-color: $red-color;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 1px;
  &:hover{
    box-shadow: 0 0 5px 0px $red-color;
  }
}
.base{
  position:relative;
  text-align: center;
  .addIcon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid $primary-color;
    margin-top: -5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    position: relative;
    i{
      color: $primary-color;
      margin: auto;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      position: absolute;
      font-size: 30px;
    }
    &:hover{
      background-color: $primary-color;
      i{
        color: #f6f6f6;
      }
    }
  }
}

.body{
  width: 60%;
  margin: 35px auto;
  text-align: center;
  .locationDiv {
    .locationInput {
      input {
        padding: 8px 30px;
        text-align: center;
        cursor: pointer;
      }
      input::-webkit-input-placeholder{
        color: #333;
      }
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .mapMarker{
      float: left;
      font-size: 20px;
      margin-top: -39px;
      position: relative;
      z-index: 10;
      margin-left: 12px;
      color: $secondary-color;
    }
    .clear{
      float: right;
      margin-top: -39px;
      position: relative;
      z-index: 5;
      font-size: 20px;
      margin-right: 10px;
      color: $secondary-color;
      cursor: pointer;
    }
  }
  .close{
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  h1{
    margin-bottom: 50px;
  }
  @media screen and (max-width:500px){
    width: 90%;
    margin: 30px auto;
    h1{
      margin-bottom: 30px;
    }
  }
}

.mapModal{
  max-width: 100%;
  width: 800px;

  .body{
    width: 100%;
  }
  .map{
    width: 100%;
  }
  @media screen and (max-width:500px) {
    .map{
      height: 300px;
    }
  }
}

.summary{
  text-align: left;
  margin-left: 15px;
  font-size: 18px;
  color: $secondary-color;
  .description{
    word-wrap: break-word;
  }
  span{
    color: black;
  }
}


