@import "src/styles/colors.scss";
.addButton{
  width: 150px;
  height: 35px;
  margin: 0;
}
.base{
  position:relative;
  margin-bottom: 50px;
  .addButton{
    position:absolute;
    right: 0;
  }
}
.body{
  width: 60%;
  margin: 50px auto;
  text-align: center;
  .close{
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  h1{
    margin-bottom: 50px;
  }
  .addButton{
    margin-top: 50px;
  }

}


