@import 'src/styles/globals.scss';
.base {
  background: url('/assets/img/background2.jpg') center;
  border-radius: 5px;
  position: fixed;
  top: 80px;
  bottom: 80px;
  width: 100%;
  .tasks {
    position: relative;
    height: 100%;
    width: 50%;
    left: 50%;
    padding: 0 5px;
    transform: translateX(-50%);
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 0 0px 10px 0px #555;
    padding-top: 42px;
    margin-top: 3px;
    @media screen and (min-width: 1200px) {
      width: 40%;
    }
    @media screen and (max-width: 768px) {
      left: 50px;
      transform: none;
      right: 50px;
      width: auto;
      position: absolute;
    }
    @media screen and (max-width: 500px) {
      left: 35px;
      right: 35px;
    }
  }
  h1 {
    color: $primary-color;
    text-align: left;
    margin: 7.5px 0;
    font-size: 25px;
    font-weight: 500;
  }
}

.title {
  padding: 0 15px;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 0px 3px 0px #333;
  z-index: 100;
  background-color: #ddd;
  .addIcon {
    border-color: $primary-color;
    position: absolute;
    right: 0;
    top: -31px;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    i {
      font-size: 22px;
      color: $primary-color;
    }
    &:hover {
      background-color: $primary-color;
      i {
        color: white;
      }
    }
  }
}

.shadowTopStyle{
  position: absolute;
  top: 42px;
  left: 0px;
  right: 0px;
  height: 50px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

.shadowBottomStyle{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
