@import 'src/styles/globals.scss';
.base {
  background-color: #ddd;
  border-radius: 5px;
  max-height: 80vh;
  z-index: 1000;
  border: 7.5px solid #ddd;
  padding-bottom: 0;
  box-shadow: 0px 0px 15px 0px #999;

  .tasks {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 60vh;
    padding: 0 7.5px;
    padding-bottom: 7.5px;
    @media screen and (max-height: 600px) {
      max-height: 50vh;
    }
    @media screen and (max-height: 500px) {
      max-height: 43vh;
    }
  }
  h1 {
    color: $primary-color;
    text-align: left;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
  }
  .projectTitle {
    padding: 7.5px;
    padding-bottom: 0;
    .addIcon {
      border-color: $primary-color;
      position: absolute;
      right: 0;
      top: -33px;
      width: 30px;
      height: 30px;
      margin-right: 3px;
      i {
        font-size: 22px;
        color: $primary-color;
      }
      &:hover {
        background-color: $primary-color;
        i {
          color: white;
        }
      }
    }
  }
}

