
.button{
  width: 80px;
  border-radius: 3px;
  background-color: #69ca53;
  border: 0;
  margin: 5px;
  color: #fff;
  outline: 0;
  min-width: 80px;
  box-shadow: 0 2px 10px 0px lightslategrey;
}

.button:hover {
  box-shadow: 0 2px 10px 0px #999;
}
