
.button{
  width: 80px;
  border-radius: 3px;
  background-color: #69ca53;
  border: 0;
  margin: 5px;
  color: #fff;
  outline: 0;
}

.button:hover {
  box-shadow: 0 0 5px 0px #69ca53;
  font-weight: 700;
}
