@import 'src/styles/globals.scss';
.base{
  background-color: #ddd;
  border-radius: 5px;
  max-height: 80vh;
  z-index: 1000;
  border: 7.5px solid #ddd;
  padding-bottom: 0;
  box-shadow: 2px 2px 25px -5px #333;
  h1{
    color: $project-color;
    text-align: left;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
  }
  .projectTitle{
    padding: 7.5px;
    padding-bottom: 0;
    .title{
      color: $project-color;
    }
    .addIcon{
      border-color: $project-color;
      position: absolute;
      right: 0;
      top: -33px;
      width: 30px;
      height: 30px;
      margin-right: 3px;
      transition: border-color 0.3s ease;
      border-radius: 100%;
      i{
        font-size: 22px;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: middle;
        color: $project-color;
        transition: all 0.3s ease;

      }
      &:hover{
        background-color: $project-color;
        i{
          color: white;
        }
      }
    }
  }
}

.projects{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60vh;
  padding: 0 7.5px;
  @media screen and (max-height: 600px){
    max-height: 50vh;
  }
  @media screen and (max-height: 500px){
    max-height: 43vh;
  }

  .project{
    background-color: #fafafa;
    border-radius: 3px;
    margin: 10px 0 ;
    padding: 10px;
    box-shadow: 0 2px 10px 0px darkgray;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;

    h3{
      color: $project-color;
      font-size: 18px;
      margin: 0;
      margin-left: 20px;
      transition: all 0.3s ease;

    }

    h2{
      font-size: 18px;
    }
    .projectSettings{
      right: 10px;
      top: 10px;
      position: absolute;
      margin-right: 0;
    }
    .finishProject{
      border-radius: 100%;
      border: 2px solid $secondary-color;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      left: 5px;
      transition: all 0.3s linear!important;
      i{
        margin-top: 2px;
        margin-left: 2px!important;
        position: absolute;
        font-size: 13px;
        opacity: 0;
        transition: all 0.3s linear!important;
      }
      &:hover{
        i{
          opacity: 1;
        }
      }
    }

    .restoreProject{
      border-radius: 100%;
      border: 2px solid $secondary-color;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      left: 5px;
      transition: all 0.3s linear!important;
      i{
        color: $secondary-color;
        margin-top: 2px;
        margin-left: 2px!important;
        position: absolute;
        font-size: 13px;
        opacity: 1;
        transition: all 0.3s linear!important;
      }
      &:hover{
        i{
          opacity: 0;
        }
      }
    }
    &:hover{
      background-color: $project-color;
      box-shadow: 0 2px 10px 0px dimgray;
      transition: all 0.3s ease;
      h3{
        color: #fafafa;
        transition: all 0.3s ease;
      }
      .finishProject{
        border-color: white;
        transition: all 0.3s ease;
        i{
          color: white;
          transition: color 0.3s;
        }
      }
      .restoreProject{
        border-color: white;
        transition: all 0.3s ease;
        i{
          color: white;
          transition: color 0.3s;
        }
      }
    }

  }
  .activeProject{
    background-color: $project-color;
    box-shadow: 0 2px 10px 0px dimgray;
    transition: all 0.3s ease;
    h3{
      color: #fafafa;
    }
    i{
      margin-left: 3px;
    }
    .finishProject{
      border-color: white;
      transition: all 0.3s ease;
      i{
        color: white;
        transition: color 0.3s;
      }
    }
    .restoreProject{
      border-color: white;
      transition: all 0.3s ease;
      i{
        color: white;
        transition: color 0.3s;
      }
    }
  }
}

.projectOptions{
  position: absolute;
  right: 0px;
  z-index: 10000;
  width: 160px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
  box-shadow: 0px 5px 10px;
  &:focus{
    background-color: #3e5a95;
  }
  .option{
    margin-bottom: 0;
    padding: 7px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    &:hover{
      background-color: #ddd;
      transition: all 0.3s ease;
    }
    &.delete{
      border-bottom: 0;
    }
    i{
      float: right;
      font-size: 16px;
      margin-top: 2px;
    }
    &.addTask i{
      margin-top: 3px;
    }
  }
  .caretUp{
    position: absolute;
    margin-top: -20px;
    font-size: 28px;
    right: 9px;
    color: darkgrey;
  }
}
.deleteModal{
  text-align: center;
  width: 500px;
  max-width: 100%;
  .close{
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  h1{
    margin-top: 50px;
  }
  p{
    margin: 30px;
    font-size: 16px;

  }
  .warning{
    font-weight: 700;
    i{
      font-size: 50px;
      position: absolute;
      margin-left: -25px;
      color: $red-color;
    }
  }
  .confirm {
    background-color: #ea0000;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    &:hover {
      box-shadow: 0 0 5px 0px #ea0000;
      transition: all 0.3s ease;
    }
  }
  .cancel {
    width: 100px;
    height: 30px;
  }

}


