.base{
  div:first-child{
    margin-bottom: 10px;
  }
  .textarea{
    border-radius: 3px!important;
    box-shadow: none;
    height: 100px;
    resize: none;
    padding: 10px;
    border-color: #CCCCCC;

    &:focus{
      border-color: #CCCCCC;
      outline: none;
    }
    &:hover{
      box-shadow: 0 2px 10px 0px #999;
      transition: all 0.2s ease;
    }
  }
  .inputGroup{
    width: 100%;
  }
}
