@import 'src/styles/globals.scss';
.base{
  border-top: 2px dashed #999;
  padding-top: 15px;
  margin-top: 25px;
  text-align: center;
  h2{
    color: #4d4d4d;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    cursor: pointer;

    i{
      margin-left: 5px;
      font-size: 15px;
    }
  }
  span{
    color: $primary-color;
    font-size: 20px;
    width: 10%;
    display: inline-block;
  }
  .datePickers{
    margin-bottom: 10px;
  }
}
