.base{
  text-align:center;
  h2{
    margin-left: 5px;
    color: #ffffff;
    text-align: left;
    font-size: 18px;
    margin-top: 0;
    cursor: default;
  }
  span{
    color: #ffffff;
    margin: 0 10px;
  }
}
