@import 'src/styles/globals.scss';

.task{
  padding: 5px 10px;
  width: 100%;
  border-bottom: 0.5px solid #ccc;
  cursor: move;
  &:hover{
    background-color: #eee;
  }
  span{
    margin-right: 5px;
  }
  .marker{
    position: absolute;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 300;
    &:hover{
      color: $primary-color;
    }
  }
}
