@import 'src/styles/globals.scss';

.task{
  padding: 5px 10px;
  width: 100%;
  border-bottom: 0.5px solid #ccc;
  cursor: move;
  z-index: 0;
  &:hover{
    background-color: #f6f6f6;
  }

  span{
    margin-right: 5px;
  }
  .marker{
    position: relative;
    float: right;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
    z-index: 300;
    &:hover{
      color: $primary-color;
    }
    &:active{
      color: $primary-color;
    }
  }
}
