@import "./colors.scss";

body {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: regular;
  color: rgb(77,77,77);
  height: 100vh;
  background: #f6f6f6;
  h1 {
    color: $primary-color;
    font-size: 30px;
  }
}


:global .modal-dialog{
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)!important;
  margin: 0px;
}

:global .modal-content{
  margin: 15px;
  background-color: #f6f6f6;
}
