@import 'src/styles/globals.scss';

.base {
  background: url('/assets/img/background2.jpg') center;
  max-height: 80vh;
  z-index: 1000;
  padding-bottom: 0;
  box-shadow: 2px 2px 25px -5px #333;
  border-radius: 5px;
  margin-top: -15px;
  padding-top: 0;
  .tasks {
    border-top: 3px solid $primary-color;
    overflow-y: auto;
    overflow-x: hidden;
    height: 60vh;
    padding: 0;
    padding-left: 7.5px;
    margin-top: 15px;
    border-radius: 0 0 5px 5px;
    @media screen and (max-height: 600px) {
      max-height: 50vh;
    }
    @media screen and (max-height: 500px) {
      max-height: 43vh;
    }

    .shadowTopStyle{
      z-index: 10;
      position: absolute;
      top: 65px;
      left: 0px;
      right: 0px;
      height: 50px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .shadowBottomStyle{
      z-index: 10;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      height: 50px;
      border-radius: 5px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }

  .tabs{
    margin-top: 15px;
    display: flex;
    position: relative;
    left: 50%;
    top: 15px;
    margin-bottom: 30px;
    transform: translateX(-50%);
    width: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0px #999;
    .taskTab, .projectTab{
      width: 100px;
      text-align: center;
      color: $primary-color;
      background-color: #fafafa;
      padding: 5px;
      border: 2px solid $primary-color;
      cursor: pointer;
      font-weight: 700;
    }
    .projectTab{
      border-radius: 0 5px 5px 0;
    }
    .taskTab{
      border-radius: 5px 0 0 5px;
    }
    .active{
      background-color: $primary-color;
      color: white;
    }
  }
}
