@import 'src/styles/globals.scss';

.base{
  left: 0;
  width: 280px;
  top: 95px;
  bottom: 85px;
  position: fixed;
  background-color: #f6f6f6;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0 0 15px 0;
  z-index: 100;
  .tabs{
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0px #999;
    .taskTab, .projectTab{
      width: 100px;
      text-align: center;
      color: $primary-color;
      background-color: #fafafa;
      padding: 5px;
      border: 2px solid $primary-color;
      cursor: pointer;
      font-weight: 700;
    }
    .projectTab{
      border-radius: 0 5px 5px 0;
    }
    .taskTab{
      border-radius: 5px 0 0 5px;
    }
    .active{
      background-color: $primary-color;
      color: white;
      font-weight: 500;
    }
  }

  .commentedItems{
    cursor: pointer;
    margin-top: 15px;
    top: 50px;
    bottom: 60px;
    position: absolute;
    overflow-y: auto;
    width: 100%;
    .item{
      padding: 8px 25px;
      font-size: 14px;
      padding-left: 50px;
      &:hover{
        background-color: #ddd;
      }
      .taskIcon, .chain{
        margin-left: -25px;
        font-size: 16px;
        position: absolute;
        margin-top: 2px;
        color: $primary-color;
      }
      .chain{
        color:  $secondary-color;
      }
      .info{
        color: orangered;
        position: absolute;
        right: 7px;
        font-size: 16px;
        margin-top: 2px;
      }
    }
  }

  .newComment{
    text-align: center;
    bottom: 15px;
    position: absolute;
    width: 100%;
    .addButton{
      position: relative;
      margin: auto;
      i{
        margin-left: -20px;
        font-size: 18px;
        position: absolute;
        margin-top: 2px;
      }
      padding: 5px 10px 5px 30px;
    }
  }

}
