@import "src/styles/colors.scss";


.nav{
  background: -moz-linear-gradient(to bottom, #ddd 0%, #d6d6d6 22%, #e6e6e6 50%, #d6d6d6 78%, #ddd 100%);
  background: -webkit-linear-gradient(to bottom, #ddd 0%, #d6d6d6 22%, #e6e6e6 50%, #d6d6d6 78%, #ddd 100%);
  background: linear-gradient(to bottom, #ddd 0%, #d6d6d6 22%, #e6e6e6 50%, #d6d6d6 78%, #ddd 100%);
  min-height: 80px;
  border: 0px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 15px 0px #333;
  padding: 0 15px;
  z-index: 101;

  .navbarToggle{
    border-color: #aaa;
    margin-top: 20px;
    display: block;
    margin-right: 0px;
    @media screen and (min-width: 450px){
      display: none;
    }
  }
  .rightIcons{
    display: block;
    border: 0;
    margin-top: -50px;

    button{
      min-width: 100px;
      height: 30px;
      margin: 0px;
      margin-left: 10px;
    }
    .logout{
      background-color: #ea0000;
      &:hover{
        box-shadow:  0 0 5px 0px #ea0000;
        transition: all 0.2s ease;
      }
    }

    ul{
      display: inline-flex;
      float: right;
      margin: 0;
    }
    .addTask{
      background-color: $secondary-color;
      width: 100px;
      height: 30px;
      text-align:center;
      i{
        font-size: 15px;
        margin-right: 0;
        margin-left: 5px;
      }
      &:hover{
        box-shadow:  0 0 5px 0px $secondary-color;
        transition: all 0.2s ease;
      }
    }
    &.afterLogin{
      margin-right: 15px;
      @media screen and (max-width: 768px){
        margin-right: 0;
      }
      @media screen and (max-width: 450px){
        text-align: right;
        ul{

          text-align: left;
          margin: 0;
        }
      }
    }
  }

  .home{
    height: 40px;
    width: 40px;
    border: 1px solid #68ca4d;
    margin-top: -5px;
    margin-left: 5px;
    background-color: #f6f6f6;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    &:hover{
      background-color: #68ca4d;
      transition: all 0.3s ease;
      i{
        color: #fff;
        transition: all 0.3s ease;
      }
    }
    @media screen and (max-width: 350px){
      display: none;
    }
    i {
      color: #68ca4d;
      margin: auto;
      top: 50%;
      transform: translateY(-50%) ;
      position: absolute;
      font-size: 30px;
      transition: all 0.3s ease;
      margin-left: 5px;
    }
  }
  h1{
    margin-left: 60px;
    font-size: 26px;
    margin-top: 25px;
    color: $primary-color;
  }


  .logo{
    background: transparent url("/assets/img/logo2.png") no-repeat center right;
    background-size: 50px;
    width: 50px;
    height: 75px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    z-index: 10;
  }

  i{
    margin-left: 5px;
  }
}
