@import "src/styles/colors.scss";

.nav{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, white 0%, #eee 33%, rgb(230, 230, 230) 50%, #eee 66%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, white 0%, #eee 33%, rgb(230, 230, 230) 50%, #eee 66%, #f6f6f6 100%);
  background: linear-gradient(to bottom, white 0%, #eee 33%, rgb(230, 230, 230) 50%, #eee 66%, #f6f6f6 100%);
  min-height: 80px;
  border: 0px;
  .navbarToggle{
    border-color: #aaa;
    margin-top: 20px;
    display: block;
    margin-right: 0px;
    @media screen and (min-width: 450px){
      display: none;
    }
  }
  .rightIcons{
    display: block;
    border: 0;
    margin-top: -50px;
    @media screen and (max-width: 450px){
      margin-top: 0px;
      text-align: center;
    }

    button{
      width: 100px;
      height: 30px;
      margin: 0px;
      margin-left: 10px;
    }
    .logout{
      background-color: #ea0000;
      &:hover{
        box-shadow:  0 0 5px 0px #ea0000;
      }
    }

    ul{
      display: inline-flex;
      @media screen and (min-width: 450px){
        float: right;
        margin: 0;
      }

    }
    .addTask{
      background-color: $secondary-color;
      width: 100px;
      height: 30px;
      text-align:center;
      i{
        font-size: 15px;
        margin-right: 0;
        margin-left: 5px;
      }
      &:hover{
        box-shadow:  0 0 5px 0px $secondary-color;
      }
    }
    &.afterLogin{
      margin-right: 15px;
      @media screen and (max-width: 768px){
        margin-right: 0;
      }
      @media screen and (max-width: 450px){
        text-align: right;
        margin-top: -65px;
        ul{
          text-align: left;
          margin: 0;
        }
      }
    }
  }
  h1{
    margin-left: 60px;
    font-size: 26px;
    margin-top: 25px;
    color: $primary-color;
  }


  .logo{
    background: transparent url("/assets/img/logo2.png") no-repeat center right;
    background-size: 50px;
    width: 50px;
    height: 75px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    z-index: 10;
  }

  i{
    margin-left: 5px;
  }
}
