@import 'src/styles/globals.scss';
.base{
  h1{
    text-align: center;
  }
  .body{
    width: 100%;
    top: 50%;
    position: absolute;
    left: 50%;
    margin: auto;
    transform: translateX(-50%) translateY(-50%)!important;
  }
}
