@import 'src/styles/globals.scss';
.base{
  h1{
    text-align: center;
  }
  .base{
    top: 50%;
    position: absolute;
    left: 50%;
    margin: auto;
    transform: translateX(-50%) translateY(-50%)!important;
    @media screen and (max-width: 768px){
      width: 100%;
    }
  }
  .body{
    max-width: 800px;
    margin: auto;
    box-shadow: 0 3px 15px 0;
    border-radius: 10px;
  }
}
