@import 'src/styles/globals.scss';
.base{
  h1{
    text-align: center;
  }
  .body{
    top: 50%;
    position: absolute;
    left: 50%;
    margin: auto;
    transform: translateX(-50%) translateY(-50%)!important;
    @media screen and (max-width: 768px){
      width: 100%;
    }
  }
}
