@import 'src/styles/globals.scss';
.base{
  text-align: center;
  h1{
    text-align: center;
    margin: 25px;
  }
  .details{
    display: block;
    position: relative;
    span{
      font-weight: 700;
      color: $secondary-color;
    }
    .description{
      font-size: 18px;
      text-align: left;
      width: 100%;
      word-wrap: break-word;
    }
    .date{
      font-size: 18px;
      width: 40%;
      font-weight: 500;
      text-align: right;
      float: right;
      margin: 15px 0 ;
    }
    .project{
      margin: 25px 0 ;
      font-size: 18px;
      text-align: left;
      width: 60%;
    }
  }
  .spinner{
    text-align: center;
    margin-top: 100px;
    position: relative;
    font-size: 50px;
    text-align: center;
    color: $primary-color;
  }
}
.buttons{
  margin-bottom: 100px;
}

.update{
  position: absolute;
  margin: 50px 5px 50px;
  margin-left: 20px;
  &:hover{
    box-shadow: 0 0 5px 0px $primary-color;
    transition: all 0.2s ease;
  }
}
.delete{
  width: 115px;
  height: 30px;
  background-color: #ea0000;
  position: relative;
  margin-left: -120px;
  margin-top: 50px;
  &:hover{
    box-shadow: 0 0 5px 0px #ea0000;
    transition: all 0.2s ease;
  }
}

.deleteModal{
  text-align: center;
  width: 500px;
  max-width: 100%;

  i{
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  h1{
    margin-top: 50px;
  }
  p{
    margin: 30px;
    font-size: 16px;
  }
  .confirm {
    background-color: #ea0000;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    &:hover {
      box-shadow: 0 0 5px 0px #ea0000;
      transition: all 0.2s ease;
    }
  }
  .cancel {
    width: 100px;
    height: 30px;
  }
}
