@import 'src/styles/globals.scss';
.base{
  padding: 50px 10%;
  border-radius: 0 0 5px 5px;
  background-color: #ddd;
  position: relative;
  display: block;
  p{
    padding: 10px 0;
    font-size: 16px;
  }

  .buttons{
    margin-top: 35px;
    padding-top: 30px;
    border-top: 1px solid #aaa;
    text-align: center;
    .save{
      font-size: 16px;
      padding: 8px 20px;
      width: inherit;
    }
  }
  @media screen and (max-width:500px){
    padding: 15px 10%;
    text-align: center;
    .buttons{
      margin-top: 25px;
      padding-top: 20px;
    }
  }
}
