.base{
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: regular;
  color: rgb(77,77,77);
  height: 100vh;
  background: url('assets/img/background.jpg') center;

  .taskList{
    border-radius: 5px;
    padding: 0px;
    background: url('assets/img/background2.jpg') center;
    @media screen and (max-width: 768px){
      margin-left: 45px;
    }
  }
}

