.base{
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: regular;
  color: rgb(77,77,77);
  height: 100vh;
 // background: linear-gradient(to bottom, #56ab2f 0%,  #a8e063 100%);
  background: #f6f6f6;
  .taskList{
    width: 100%;
    border-radius: 5px;
    padding: 0px;
    background: url('/assets/img/background2.jpg') center;
  }
}

