@import "src/styles/colors.scss";

.map{
  position: absolute;
  top: 80px;
  left: 0px;
  bottom: 73px;
  right: 250px;
  z-index: 50;
  @media screen and (max-width: 500px){
    margin-top: 50px;
  }
}

.input{
  position: relative;
  border-radius: 3px;
  outline: none;
  height: 35px;
  padding: 8px;
  float: right;
  background-color: #ffffff;
  min-width: 250px;
  border: 1px solid #68ca4d;
  margin-top: -340px;
  margin-right: 10px;
  width: 100%;
  padding-right: 25px;

  &:hover{
    box-shadow: 0 2px 10px 0px #999;
    transition: all 0.2s ease;
  }
  &:focus{
    border: 2px solid $primary-color;
    box-shadow: 0 2px 10px 0px #999;
    transition: all 0.2s ease;
  }
}

.base{
  text-align: right;
  span{
    margin-top: -336px;
    font-size: 25px;
    margin-left: -32px;
    z-index: 150;
    color: $primary-color;
    @media screen and (max-width: 400px){
      margin-top: -295px;
    }
  }
}
