.facebook{
  max-width: 300px;
  width: 90%;
  margin: 5px auto;
  padding: 10px 20px;
  cursor: pointer;
  letter-spacing: 1.5px;
  background-color: #4563a2;
  border: 1px solid #3e5a95;
  border-radius: 4px;
  color: #ffffff;
  text-align: left;
  height: 40px;
  i{
    float: left;
    font-size: 26px;
    width: 60px;
    text-align: left;
  }
}
.facebook:hover{
  box-shadow: 0 0 5px 0px #4563a2;
}
