@import 'src/styles/globals.scss';
.base{
  h2{
    color: #ffffff;
    text-align: left;
    margin-left: 5px;
    font-size: 18px;
    margin-top: 15px;
    cursor: default;
    i{
      font-size: 16px;
      margin-left: 10px;
    }
    &:hover{
      cursor: pointer;
    }
  }
  p{
    background-color: white;
    margin: 2px;
    margin-left: 5px;
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    color: $secondary-color;

    &:hover{
      cursor: pointer;
      box-shadow: 0 0 5px 0 $secondary-color;
      font-weight: 700;
    }
    i{
      float: right;
      font-size: 20px;
      margin-top: 2px;
    }
  }
  .projects{
    margin-right: 10px;
  }
}
