@import 'src/styles/globals.scss';

.base {
  background-color: #ddd;
  border-radius: 5px;
  max-height: 80vh;
  z-index: 1000;
  border: 7.5px solid #ddd;
  padding-bottom: 0;
  box-shadow: 2px 2px 25px -5px #333;

  .tasks {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 60vh;
    padding: 0 7.5px;
    padding-bottom: 7.5px;
    @media screen and (max-height: 600px) {
      max-height: 50vh;
    }
    @media screen and (max-height: 500px) {
      max-height: 43vh;
    }
  }

  h1 {
    color: $primary-color;
    text-align: left;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    padding: 7.5px;
    padding-bottom: 0;
  }

}
