@import 'src/styles/globals.scss';
.hidePanel{
  position: fixed;
  bottom: 15px;
  left: 15px;
  font-size: 35px;
  color: #4d4d4d;
  z-index: 100;
  i{
    cursor: pointer;

  }
}

.showPanel{
  .commentIcon{
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    left: 15px;
    font-size: 35px;
    color: $primary-color;
    z-index: 100;
  }
}
