@import 'src/styles/globals.scss';
.hidePanel{
  @media screen and (max-width: 660px){
    display: none
  }
  .commentIcon{
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    left: 20px;
    font-size: 35px;
    color: #4d4d4d;
    z-index: 300;

  }
}

.showPanel{
  @media screen and (max-width: 660px){
    display: none
  }
  .commentIcon{
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    left: 20px;
    font-size: 35px;
    z-index: 300;
  }
}
